<head>
<html >
<div><h1>Applicant Information for job:<li><%=      @job.title %></li> </h1></div>
  <body>
  <table style="width:100%">
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>ContactNumber</th>
        <th>InterviewingOptions</th>
        <th>ApplicationStatus</th>
      </tr>
        <tr>
          <td><%=  @user.firstname %></td>
          <td><%=  @user.lastname %></td>
          <td><%=  @user.email %></td>
          <td><%=  @user.contact %></td>
          <td><%=  link_to 'ViewApplicantProfile', viewapplicantprofile_adminusers_path(:firstname=> @user.firstname), class: "btn btn-link" %></td>
          <td> Needs Review </td>
        </tr>
  </table>
</body>
<%= link_to "Go Back", jobs_path %>


</head>

</html>
